.side-menu
  %ul
    - current_user.groups.each do |group|
      %li
        = link_to group_messages_path(group) do
          .side-menu__group
            = group.name
          .side-menu__text
            = group.show_last_message
